@import 'tailwindcss';
@import '@fontsource/press-start-2p';
@import '@fontsource/share-tech-mono';
@import '@fontsource-variable/nunito-sans';

@theme {
  --font-primary: 'Press Start 2P', sans-serif;
  --font-secondary: 'Share Tech Mono', monospace;
  --font-title: 'Nunito Sans', sans-serif;

  --bg-main: #f1d8bf;
  --color-primary: #fa6012;
  --color-secondary: #e7641d;
  --color-tertiary: #f1d8bf;
  --color-text: #32292A;

  --breakpoint-3xl: 100rem;
  --breakpoint-4xl: 112.5rem;
}

body {
  background-color: var(--bg-main);
  min-height: 100dvh;
  height: 100dvh;
}
