---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="About Me">
  <div class="flex justify-center">
    <h1
      class="font-primary text-text text-center text-[25px] drop-shadow-[0_0_1.5px_#000]"
      transition:name="route-About Me"
    >
      About Me
    </h1>
  </div>
</Layout>
