---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="bg-[#D8E1E9] hover:bg-[#B3C5D7] px-4 py-2 rounded-lg border-4 border-[#000]"
>
  <slot />
</a>

<style>
  a {
    font-family: "Press Start 2P", monospace;
  }
</style>
